<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sell Item
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sell Item</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content" *ngIf="account && isSeller">
    <ion-item >
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input type="string" (ionChange)="change($event)"></ion-input>
    </ion-item>
    <ion-button *ngIf="account" [disabled]="!phoneNumber" (click)="sell()">Sell item</ion-button>
  </div>
  <p *ngIf="!account">You need to set your minter private key in the settings</p>
  <p *ngIf="!isSeller && account">You need a <b>seller</b> account to access this page</p>
</ion-content>
<div class="modal-bg" *ngIf="modal !== 'none'"></div>
<div class="modal-container" *ngIf="modal === 'read'" (click)="closeNfcModal()">
  <div class="modal">
    <p>Ready to read NFC...</p>
  </div>
</div>
