<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Config
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Config</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <ion-item>
      <ion-label position="stacked">Private Key</ion-label>
      <ion-input placeholder="dhez23DhDZQ..." (ionChange)="change($event)"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="setPrivateKey()">Set Private Key</ion-button>
  </div>
</ion-content>
